html, body  {border-style: solid;
    border-width: 3px;
    border-color: red;
    height: 100%;
    background-image:url("https://image.freepik.com/free-vector/abstract-vector-background-with-flying-falling-scattered-office-white-paper-sheets-documents_53562-2882.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.col {
    text-align: center;
}

.container { border-style: solid;
    border-width: 3px;
    border-color: blue;
    height: 100%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
  }

.row { border-style: solid;
    border-width: 3px;
    border-color: pink;
    margin: 20px;
}

.main-content { border-style: solid;
    border-width: 3px;
    border-color: midnightblue;
    

}